@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.container{
    text-align: center;
    font-family: Montserrat;

}
.emoji{

    padding: 0px;
}

.thoughts{
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}
h1{
    font-family: Montserrat;
}